/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 55px;
}

.navigation__list {
    display: flex;
    padding-top: 3px;
    gap: 23px;
}

.navigation__list-item-link {
    border-bottom: solid 1px transparent;
    transition: border-color 300ms ease;
}

.navigation__list-item-link:hover {
    border-bottom: solid 1px black;
}

/* Main */

.main {
    margin: 0 20px;
}

/* Hero section */

.hero {
    min-height: 420px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 53px;
}

.hero__heading-container {
    text-transform: uppercase;
}

.hero__heading {
    font-size: 1.5rem;
    line-height: 0.95;
    letter-spacing: -0.02em;
}

/* Grid */

.grid {
    display: grid;
    gap: 90px;
}

.grid__evenly-card {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
}

.card__text_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 0.8;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.text_container__padded-text {
    padding-bottom: 22px;
}

.card__image {
    justify-self: center;
}

.hero-card__image {
    width: 100%;
    object-fit: cover;
    margin-bottom: 50px;
}

.hero-card__text_container {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 0.8;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 90px;
}

.grid__un-evenly-card-eight {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 2.2fr;
}

.grid__un-evenly-card-ninth {
    display: grid;
    gap: 50px;
    grid-template-columns: 1.9fr 1fr;
    margin-bottom: 90px;
}

/* Footer */

/* Upper-links */

.footer {
    margin: 0px 20px;
    margin-bottom: 20px;
    background-color: #000000;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.footer__upper-links {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.footer__upper-links-text {
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
}

/* Middle-links */

.footer__middle-links-socials-list {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
}

.socials-list-link {
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    border-bottom: solid 1px transparent;
    transition: border-color 300ms ease;
}

.socials-list-link:hover {
    border-bottom: solid 1px rgb(255, 255, 255);
}

.footer__made-by_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__middle-links-made-by {
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    position: relative;
    z-index: 1;
}

/* Initials-links */

.footer__initials {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    padding-bottom: 40px;
}

.footer__initials-text {
    font-size: 37.8125rem;
    line-height: 0.6;
    letter-spacing: 0.02em;
    color: white;
}
